body {
    background: radial-gradient(circle at 100%, #c6ad8970, #4571a1),  /* fallback for old browsers */
    radial-gradient(farthest-side at top left, #2f1c0a, #1765a170),
    radial-gradient(farthest-side at top left, #e1c7a4, #114b7470),
    radial-gradient(farthest-corner at top right, #cab48d, #1080b770),
    radial-gradient(farthest-corner at top right,  #d8be86,#29699270);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    min-height: 100vh;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin-bottom: 1em; 
}

.text {
    flex: 1;
    text-align: left;
    color: #ffffff;      
}
.text h1, .text h3 {
    margin: 0.5em 0; 
}

.image {
    flex: 1;
    text-align: right;
}

.image img {
    max-width: 100%;
    height: auto;
}

.center-text {
    text-align: center;
    line-height: 1.5;
}

.a1{
    position: relative;
    padding: 20px 67px;
    background-color: rgb(27, 47, 76);
    border-radius: 50px;
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    overflow: hidden;
    transition: .5s; 
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: 50px;
    font-size:medium;
    white-space:nowrap;
    line-height: 35px;
    margin: 0.5em 10px; 
    display: block;
    text-decoration: none;
}

a span{
    position: relative;
    z-index: 1;
    letter-spacing: .2em;
    text-align: center;
}
.a1:hover{
    color: var(--clr);
    text-shadow: 0 0 15px var(--clr),
                 0 0 40px var(--clr);   
}
.a1::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background: radial-gradient(var(--clr),transparent,transparent);
    opacity: 0;
    transition: .5s,top,0s,left 0s;
}
.a1:hover::before{
    opacity: 1;
}
.a1::after{
    content: '';
    background: radial-gradient(circle at 100%, #ebac7570, #326298),  /* fallback for old browsers */
    radial-gradient(farthest-side at top left, #c3b3a3, #57748b70),
    radial-gradient(farthest-side at top left, #dda55b, #2c85c970),
    radial-gradient(farthest-corner at top right, #003390, #5288a670),
    radial-gradient(farthest-corner at top right,  #02335c,#4ea3cd70);
    display: flex;
    position: absolute;
    inset: 2px;
    border-radius: 48px;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row; 
        justify-content: space-around; 
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px; 
    }
}